body {
    background-color: rgb(212, 208, 216);
}

article {
    margin-inline: auto;
    width: 500px;
    padding: 15px;
    border: 10px solid grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

article span {
    font-size: 8px;
    color: dodgerblue;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

article h3 {
    text-transform: capitalize;
}

section p:first-of-type {
    padding-left: 5px;
    border-left: 5px solid #adacac;
}

div {
    display: flex;
    justify-content: center;
    gap: 15px;
}


a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

a:hover {
    color: white;
}

.prev {
    padding: 10px;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
}

.prev:hover {
    background-color: blue;
}

.next {
    padding: 10px;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
}

.next:hover {
    background-color: green;
}