body {
  background-color: teal;
}

td,
table {
  border: 1px solid white;
  border-collapse: collapse;
}

td {
  width: 80px;
  height: 80px;
}

table,
tr:last-child td {
  border-bottom-width: 0;
}

table,
tr:first-child td {
  border-top-width: 0;
}

table,
tr td:first-child {
  border-left-width: 0;
}

table,
tr td:last-child {
  border-right-width: 0;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  margin-inline: auto;
}

a {
  text-decoration: none;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

div {
  display: flex;
  justify-content: center;
  gap: 15px;
}

a:hover {
  color: white;
}

.prev {
  padding: 10px;
  background-color: skyblue;
  border: none;
  border-radius: 5px;
}

.prev:hover {
  background-color: blue;
}

.next {
  padding: 10px;
  background-color: skyblue;
  border: none;
  border-radius: 5px;
}

.next:hover {
  background-color: green;
}